include ../kit/kit
include ../cl_organizations_list
doctype html
html
    head
        title!= "UniOrg: Student organizations"
        link(rel="stylesheet" href="/static/css/styles.css")
    body#orgs
        div.content-wrapper
            include ../header
            div.content
                div.org-list_wrapper
                    h1 #{page.i18n.studentOrgs}
                    span.org-filters
                        form#org-search-filters(action='/orgs/search', method='GET')
                            input(name='sort', type='hidden', value='department')
                            span.filters-label #{page.i18n.groupLabel}
                            button#filter-alphabet.filter-button.filter-button_active #{page.i18n.alphabet}
                            button#filter-department.filter-button #{page.i18n.departments}
                            button#filter-orgType.filter-button #{page.i18n.types}
                            //button#filter-vacancy.filter-button #{page.i18n.vacancies}
                            input.input-search(name='searchText', placeholder=page.i18n.findOrg)
                            i#org-search.input-search_button
                            div#search-results
                                mixin org_list(page.searchResult)

            include ../footer
       div.footer-bg
       div.overlay.hidden

       script(src="/static/js/libs.js")
       script(src="/static/js/scripts.js")
