- var stats = options.stats;
- var lang = options.lang;

span.stat-item.stat-item_views #{lang='en'?'Views':'Views'} 
span.stat-item.stat-item_likes #{lang='en'?'Likes':'Likes'}
span.stat-item.stat-item_shares #{lang='en'?'Shares':'Shares'}
p #{options.stats.views}
p #{options.stats.likes}
p #{options.stats.shares}
